@tailwind base;
@tailwind components;
@tailwind utilities;

/* Put this in your global CSS file or index.css */
.hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .hide-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }